<!-- _includes/footer.html -->
<hr>
<footer>
        <div class="row">
            <div class="col-md-4">
                <h5>My Profiles</h5>
                <ul>
                    <li><a href="https://cjtrowbridge.com/">Website</a></li>
                    <li><a href="https://www.tiktok.com/@cjtrowbridge">TikTok</a></li>
                    <li><a href="https://www.youtube.com/@CJTrowbridge">YouTube</a></li>
                    <li><a href="https://www.instagram.com/cjtrowbridge/">Instagram</a></li>
                    <li><a href="https://www.twitch.tv/cjtrowbridge">Twitch</a></li>
                    <li><a href="https://cjtrowbridge.substack.com/">Substack</a></li>
                    <li><a href="https://www.linkedin.com/in/cjtrowbridge/">LinkedIn</a></li>
                    <li><a href="https://bsky.app/profile/cjtrowbridge.com">Bluesky</a></li>
                    <li><a href="https://mastodon.social/@cjtrowbridge">Mastodon</a></li>
                </ul>
                <h5>Support Me Directly</h5>
                <ul>
                    <li><a href="https://buymeacoffee.com/cjtrowbridge">☕ Buy me a coffee</a></li>
                    <li><a href="https://venmo.com/u/cjtrowbridge">Venmo</a></li>
                    <li><a href="https://cash.app/$cjtrowbridge">Cash App</a></li>
                    <li><a href="https://www.paypal.com/paypalme/cjtrowbridge">PayPal</a></li>
                    <li><a href="https://etherscan.io/address/0xf9988ed19214b0fff5ae539c080e83e3f3846dca">Eth Wallet</a></li>
                </ul>
           </div><!--/col-4-->
            <div class="col-md-4">
                <h4>Castro Media</h4>
                <ul>
                    <li><a href="https://castromedia.org/">Website</a></li>
                    <li><a href="https://shop.castromedia.org">Shop</a></li>
                    <li><a href="https://www.tiktok.com/@castromedia.org">TikTok</a></li>
                </ul>
                <h4>High Desert Institute</h4>
                <ul>
                    <li><a href="https://highdesertinstitute.org/">Website</a></li>
                    <li><a href="https://www.tiktok.com/@highdesertinstitute.org">TikTok</a></li>
                    <li><a href="https://www.youtube.com/@HighDesertInstitute">YouTube</a></li>
                </ul>
            </div><!--/col-4-->
            <div class="col-md-4">
                <h5>Suggest a change or update...</h5>
                <ul>
                    <li><a href="https://github.com/cjtrowbridge-com/blog.cjtrowbridge.com/blob/main/{{ page.path }}">Edit this page on GitHub</a></li>
                </ul>
            </div><!--/col-4-->
        </div><!--/row-->
  
</footer>
