<section class="row g-4 my-4">
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title h4">Pages</h2>
        <div class="list-group list-group-flush">
          {% assign pages_list = site.pages | sort: 'title' %}
          {% for my_page in pages_list %}
            {% if my_page.title and my_page.url != page.url and my_page.layout == 'page' %}
              <a class="list-group-item list-group-item-action" href="{{ my_page.url }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title h4">Categories</h2>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action" href="/all-posts/">All Posts</a>
          {% assign sorted_categories = site.categories | sort %}
          {% for category in sorted_categories %}
            <a class="list-group-item list-group-item-action" href="/category/{{ category[0] | slugify }}/">{{ category[0] }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
