---
layout: default
---

<h1>{{ page.title }}</h1>

{% assign categories = "Featured,Adventures,Reading List,Essays" | split: "," %}
{% for cat in categories %}
<div>
  <hr>
  {% if cat_page.photo %}
  <img class="photo" src="{{ cat_page.photo }}" alt="{{ cat }}">
  {% endif %}
  <h3 class="card-title"><a href="/category/{{ cat | slugify }}/">{{ cat }}</a></h3>
  {% assign cat_page = site.pages | where: "category", cat | first %}
  <ul>
    {% assign posts = site.categories[cat] | sort: 'date' | reverse | slice: 0, 10 %}
    {% for post in posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <a href="/category/{{ cat | slugify }}/" class="card-link">View More</a>
</div>
{% endfor %}

